body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    max-width: 1280px;
    margin:auto;
}
header{
    position: sticky;
    display: inline-block;
    align-content: center;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    color: seashell;
    width: 100%;
    top: 0;
    background-color: black;
    z-index: 100;
    margin-left: 10px;
    margin-right: 10px;

}
a:link, a:visited {
    color: seashell;
}
#logo {
    height: 50px;
    width: auto;
    margin-top: 9px;
    margin-left: 10px;
    float: left;

}
nav ul li{
    text-decoration: underline;
    list-style: none;
    float: right;
    margin-right: 10px;
    align-items: center;
}
main{
    margin-top: 70px;
    margin: auto;
}
.mission{
    position: relative;
    display: inline-block;
    height: 700px;
    width: 1200px;
    text-align: center;
    margin-bottom: 50px;
}
#missionimg{
    background-image: url("images/img-mission-background.webp");
    background-position: cover;
    width: 100%;
    height: 100%;
    margin: auto;
}
.text {
    background-color: black;
    z-index: 50;
    top: 300px;
    position: absolute;
    width: 100%;
    height: 100px;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}
h2 {
    margin-top: 10px;
    margin-bottom: 0px;
}

h4 {
    margin-top: 10px;
}

h5{
    font-style: normal;
}
.teaimages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    
}
img {
    width: 300px;
    height: 200px;
    margin: 10px;
}
.featuredtea{
    width: 1000px;
    margin: auto;
}
.locations{
    height: 500px;
    background-image: url("/Matt/MattCodingProjects/TeaCozy/images/img-locations-background.webp");
    background-position: center;
    z-index: 50;
}

.locationcontainer{
    display: flex;
    flex-direction:row;
    align-content: center;
    opacity: 1.0;
    text-align: center;
    margin: auto;
    justify-content: center;
}
.locationbox{
    width: 300px;
    margin: 5px 20px;
    background-color: black;
    justify-content: center;
    align-items: center;
    float: left;
}
.copyright{
    text-align: left;
    margin-left: 20px;
}