body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    max-width: 1280px;
}
header{
    position: fixed;
    display: inline-flex;
    height: 69px;
    border-bottom: 1px solid seashell;
}
img.logo {
    display: inline-flex;
    justify-content: flex-start;
    height: 50px;
    margin-left: 10px;
}
nav ul {
    text-decoration: underline;
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
}
.mission{
    display: inline-block;
    background-image: url("images/img-mission-background.webp");
    background-position: top;
    background-position: cover;
    height: 700px;
    width: 1200px;
}